
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>

    <header>
        HEADER
    </header>

    <div class="body">
        @RenderBody()
    </div>

    <footer>
        <p> @DateTime.Now.Year - My Application</p>
    </footer>

    <style>
        body {
            margin: 10px;
        }
    </style>

</body>
</html>


