@{
    ViewBag.Title = "Sale Statistics";
    <!--Layout = null;-->
}

<DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />       <!--view = desktop with-->
        <title>Index</title>
    </head>

    <body>
        <div>
            <h3> @Html.ActionLink("View All Sales", "Sales")  </h3>
        </div>
    </body>

</html>
</DOCTYPE>

<div>
    <h3>Help sites: </h3>
    <p><a href="http://htmlbook.ru" class="btn btn-primary btn-lg">Html &raquo;</a></p>
    <p><a href="https://professorweb.ru/my/ASP_NET/mvc/level2/2_1.php" class="btn btn-primary btn-lg">Razor &raquo;</a></p>
    <p><a href="https://metanit.com/sharp/mvc/7.3.php" class="btn btn-primary btn-lg">Validation attribut &raquo;</a></p>
</div>
