@model IEnumerable<SaleStatistics.Models.Manager>

@{
}

<table cellspacing="2" border="1" cellpadding="5" width="200">
    <tr>
        <th>Managers:</th>
    </tr>

    @foreach (var manager in Model)
            {
        <tr>
            <td> @Html.DisplayFor(m => manager.SecondName) </td>
        </tr>
    }
</table>

<p></p>
<form action="Index">
    <button type="submit">Go Homepage</button>
</form>

