@model IEnumerable<SaleStatistics.Models.Manager>

<table>

    <tr>
        <th style="border: ridge medium gray">Id</th>
        <th style="border: ridge medium gray">Manager</th>
    </tr>

    @foreach (var manager in Model)
            {
        <tr>
            <td style="border: ridge medium gray">@Html.DisplayFor(m => manager.Id)</td>
            <td style="border: ridge medium gray">@Html.DisplayFor(m => manager.SecondName)</td>
            @if (User.IsInRole("admin"))
            {
                <td><button type="button" onclick="onManagerEdit(@manager.Id)">Edit</button></td>
            }
        </tr>
    }
</table>

<script type="text/javascript">
    onManagerEdit = function (managerId) {
        $.get('@Url.Action("ManagerEdit", "Home")', { id: managerId }, function (data, textStatus, XHR) {
            $("#managerEdit").html(data);
            showManagerEdit();
        })
    }
</script>