@model IEnumerable<SaleStatistics.Models.SaleInfo>

@{
    ViewBag.Title = "Sales list";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>

<header>
    <h4> Sales list: </h4>
</header>

<section id="saleSection">
    <div id="saleEdit">
    </div>
</section>

<section id="salesListSection">
    <div id="salesList">
    </div>
</section>


<!--<br />
<div>
    @@Html.ActionLink("Back to full list", "Sales")
</div>
    -->

<p></p>
<form action="Index">
    <button type="submit">Go Homepage</button>
</form>

<script type="text/javascript">
    showSaleEdit = function () {
        $("#saleEdit").show();
    }

    hideSaleEdit = function () {
        $("#saleEdit").hide();
        $("#saleEdit").html(null);
    }

    onSaleListLoad = function () {
        $.get('@Url.Action("SalesList", "Home")', null,
           function (data, textStatus, jqXHR) {
               $("#salesList").html(data);
           });
    }
    onSaleListLoad();
</script>
